* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.search {
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid black;
    background: rgba(133,146,157,255);
}

.searchbutton {
    margin: 20px 20px;
    padding: 0.5rem 3rem;
    background: rgba(101,107,120,255);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

input {
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
}


.styled-button {
    display: block;
    display:block;
    padding: 30px 30px;
    background: rgba(101,107,120,255);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    height: 100px;
}

.next {
    position: fixed;
    top: 90%;
    right: 0%;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.uncheck-button {
  position: fixed;
  top: 90%;
  padding: 0.5rem 0.5rem;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
}


.gallery {
    width: 90%;
    margin: 12vh 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.gallery div {
    position: relative;
}

img {
    height: 300px;
    width: 198px;
    object-fit: cover;
    object-position: center;
}

p {
    position: absolute;
    margin-left: 10px;
    bottom: 5px;
    color: white;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.photo {
    left: 40px;
}

.image-box {
    border: 1px solid black;
}

.checkbox {
  margin-left: 95px;
}




/*  Registration form */



.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
  border: 1px solid lightblue ;
	padding: 30px;
}
.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

#wrong-pass-alert {
    visibility: hidden;
    display: table;
    margin: 0 auto;
}


/*  Login form */



.login-form {
    width: 340px;
    margin: 150px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    border: 1px solid lightblue ;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

#logout-link, #logout-link:hover,  #logout-link:focus, #logout-link:active{
  text-decoration: none;
     color: inherit;
}

/* header */


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

.admin-dashboard-header {
  text-align: center;
}

.title-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: Impact;
  color:  rgba(101,107,120,255);
  font-size: 80px;
}




/* MOBILE VERSION */

@media only screen and (max-width: 600px){
  .header {
    display: none;
  }

  .gallery {
    grid-template-columns: none;
  }
}
